<div class="fe-container">
    <div class="fe-editor fe-one-bg fe-two-color">
        <div class="fe-cv-canvas fe-cv-canvas-bg">
            <div class="fe-cv-canvas__frames">
                <div class="fe-frames">
                    <div class="fe-frame-wrapper">
                        <iframe #refFrame allowfullscreen="allowfullscreen" class="fe-frame"></iframe>
                    </div>
                </div>
            </div>
            <div class="fe-canvas-tools" data-tools>
                <div class="fe-tools" #refPlaceHolder>
                    <div class="fe-placeholder">
                      <div class="fe-placeholder-int"></div>
                    </div>
                </div>
                <div class="fe-tools" #refHoverFrame>
                    <div class="fe-highlighter"></div>
                    <div class="fe-ghost"></div>
                    <div class="fe-badge">
                        <div class="fe-badge__name">Body</div>
                    </div>
                </div>
                <div class="fe-tools" #refToolBar>
                    <div class="fe-highlighter"></div>
                    <div class="fe-ghost"></div>
                    <div class="fe-toolbar">
                        <div class="fe-toolbar-items">
                            <div class="fe-toolbar-item"(click)="onSelectParent($event)">
                                <svg viewBox="0 0 24 24"><path fill="currentColor" d="M13,20H11V8L5.5,13.5L4.08,12.08L12,4.16L19.92,12.08L18.5,13.5L13,8V20Z"></path></svg>
                            </div>
                            <div class="fe-toolbar-item fe-no-touch-actions" (dragstart)="onMove($event)" draggable="true">
                                <svg viewBox="0 0 24 24"><path fill="currentColor" d="M13,6V11H18V7.75L22.25,12L18,16.25V13H13V18H16.25L12,22.25L7.75,18H11V13H6V16.25L1.75,12L6,7.75V11H11V6H7.75L12,1.75L16.25,6H13Z"></path></svg>
                            </div>
                            <div class="fe-toolbar-item" (click)="onCopy($event)">
                                <svg viewBox="0 0 24 24"><path fill="currentColor" d="M19,21H8V7H19M19,5H8A2,2 0 0,0 6,7V21A2,2 0 0,0 8,23H19A2,2 0 0,0 21,21V7A2,2 0 0,0 19,5M16,1H4A2,2 0 0,0 2,3V17H4V3H16V1Z"></path></svg>
                            </div>
                            <div class="fe-toolbar-item" (click)="onDelete($event)">
                                <svg viewBox="0 0 24 24"><path fill="currentColor" d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z"></path></svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fe-pn-panels">
            <div class="fe-pn-panel fe-pn-commands fe-pn-height fe-one-bg fe-two-color"></div>
            <div class="fe-pn-panel fe-pn-options fe-pn-height fe-one-bg fe-two-color">
                <div class="fe-pn-buttons">
                    <span class="fe-pn-btn">
                    </span>
                </div>
            </div>
            <div class="fe-pn-panel fe-pn-views fe-pn-height fe-one-bg fe-two-color"></div>
            <div class="fe-pn-panel fe-pn-views-container fe-one-bg fe-two-color"></div>
        </div>
    </div>
</div>