<div class="fe-container">
    <div class="fe-editor fe-one-bg fe-two-color">
        <div class="fe-canvas">
            <div class="fe-canvas-frames">
                <iframe allowfullscreen="allowfullscreen" class="fe-frame"></iframe>
            </div>
            <div class="fe-canvas-tools" data-tools></div>
        </div>
        <div class="fe-pn-panels">
            <div class="fe-pn-panel fe-one-bg fe-two-color"></div>
            <div class="fe-pn-panel fe-pn-options fe-one-bg fe-two-color"></div>
            <div class="fe-pn-panel fe-pn-views fe-one-bg fe-two-color"></div>
            <div class="fe-pn-panel fe-pn-views-container fe-one-bg fe-two-color"></div>
        </div>
    </div>
</div>